<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenao.cms.dao.ArticleMapper">

  <resultMap id="BaseResultMap" type="com.shenao.cms.domain.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
    <result column="picture" property="picture" jdbcType="VARCHAR"/>
    <result column="hits" property="hits" jdbcType="INTEGER" />
    <result column="hot" property="hot" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT"/>
    <result column="created" property="created" jdbcType="TIMESTAMP"/>
    <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
    
    <result column="author_id" property="author.id" jdbcType="INTEGER"/>
    <result column="author_nickname" property="author.nickname" jdbcType="VARCHAR"/>
    
    <result column="channel_id" property="channel.id" jdbcType="INTEGER"/>
    <result column="channel_name" property="channel.name" jdbcType="VARCHAR"/>
    
    <result column="category_id" property="category.id" jdbcType="INTEGER"/>
    <result column="category_name" property="category.name" jdbcType="VARCHAR"/>
    
    <!-- 多对一查询自动映射实体 
    <association property="channel">
    	<id column="channel_id" property="id" jdbcType="INTEGER"/>
    	<result column="name" property="name" jdbcType="VARCHAR" />
    </association>
    <association property="category">
    	<id column="category_id" property="id" jdbcType="INTEGER"/>
    	<result column="name" property="name" jdbcType="VARCHAR" />
    </association>
    <association property="author">
    	<id column="user_id" property="id" jdbcType="INTEGER"/>
    	<result column="nickname" property="nickname" jdbcType="VARCHAR" />
    </association>-->
  </resultMap>
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List">
    id, title, summary, picture, channel_id, category_id, user_id, hits, hot, status, deleted, created, updated
  </sql>
  <sql id="Base_Column_Lob">
    id, title, summary, picture, channel_id, category_id, user_id, hits, hot, status, deleted, created, updated, content
  </sql>
  
  <insert id="save" parameterType="com.shenao.cms.domain.Article">
    insert into cms_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="channel != null">
        channel_id,
      </if>
      <if test="category != null">
        category_id,
      </if>
      <if test="author != null">
        user_id,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="hot != null">
        hot,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
 
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel.id,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category.id,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author.id,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        #{hot,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	SELECT 
		b.id, b.title, b.picture, b.summary, b.content, b.channel_id, b.category_id, b.user_id, b.hits, b.hot, b.created, b.updated, 
		u.id as author_id,
		u.nickname as author_nickname,
		ch.id as channel_id,
		ch.name as channel_name,
		ca.id as category_id,
		ca.name as category_name
 	FROM 
 		cms_article as b
 	LEFT JOIN cms_channel as ch ON b.channel_id=ch.id
 	LEFT JOIN cms_category as ca ON b.user_id=ca.id
 	LEFT JOIN cms_user as u ON b.user_id=u.id
    WHERE  b.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selects" resultMap="BaseResultMap">
	SELECT 
		b.id, b.title, b.picture, b.summary, b.channel_id, b.category_id, b.user_id, b.hits, b.hot,b.status,b.deleted, b.created, b.updated, 
		u.id as author_id,
		u.nickname as author_nickname,
		ch.id as channel_id,
		ch.name as channel_name,
		ca.id as category_id,
		ca.name as category_name
 	FROM 
 		cms_article as b<!-- 文章表 -->
 		LEFT JOIN cms_channel as ch ON b.channel_id=ch.id<!-- 频道表 -->
 		LEFT JOIN cms_category as ca ON b.user_id=ca.id<!--分类表  -->
 		LEFT JOIN cms_user as u ON b.user_id=u.id <!-- 用户表 -->
    WHERE 
    1=1
    <if test="article.author != null">
    	AND b.user_id = #{article.author.id,jdbcType=INTEGER}
    </if>
    <if test="article.channel != null and article.channel.id != null">
    	AND b.channel_id = #{article.channel.id,jdbcType=INTEGER}
    </if>
    <if test="article.category != null and article.category.id != null">
    	AND b.category_id = #{article.category.id,jdbcType=INTEGER}
    </if>
    <if test="article.status != null">
    	AND b.status = #{article.status,jdbcType=INTEGER}
    </if>
    <if test="article.deleted != null">
    	AND b.deleted = #{article.deleted,jdbcType=BIT}
    </if>
    <if test="article.hot != null">
    	AND b.hot = #{article.hot,jdbcType=BIT}
    </if>
    
    <if test="order == null">
	    ORDER BY created desc
    </if>
    <if test="order != null">
	    ORDER BY
    	<foreach collection="order" index="key" item="ent" separator=",">
    		#{key} #{ent ? 'asc' : 'desc'}
    	</foreach>
    </if>
    
    <if test="page != null">
    LIMIT #{page.firstIndex},#{page.pageSize}
    </if>
  </select>
  
  <select id="queryAll" parameterType="article" resultType="article">
	SELECT 
		b.id, b.title, b.picture, b.summary, b.channel_id, b.category_id, b.user_id, b.hits, b.hot,b.status,b.deleted, b.created, b.updated, 
		u.id as author_id,
		u.nickname as author_nickname,
		ch.id as channel_id,
		ch.name as channel_name,
		ca.id as category_id,
		ca.name as category_name
 	FROM 
 		cms_article as b<!-- 文章表 -->
 		LEFT JOIN cms_channel as ch ON b.channel_id=ch.id<!-- 频道表 -->
 		LEFT JOIN cms_category as ca ON b.user_id=ca.id<!--分类表  -->
 		LEFT JOIN cms_user as u ON b.user_id=u.id <!-- 用户表 -->
    WHERE 
    1=1
    <if test="article.author != null">
    	AND b.user_id = #{article.author.id,jdbcType=INTEGER}
    </if>
    <if test="article.channel != null and article.channel.id != null">
    	AND b.channel_id = #{article.channel.id,jdbcType=INTEGER}
    </if>
    <if test="article.category != null and article.category.id != null">
    	AND b.category_id = #{article.category.id,jdbcType=INTEGER}
    </if>
    <if test="article.status != null">
    	AND b.status = #{article.status,jdbcType=INTEGER}
    </if>
    <if test="article.deleted != null">
    	AND b.deleted = #{article.deleted,jdbcType=BIT}
    </if>
    <if test="article.hot != null">
    	AND b.hot = #{article.hot,jdbcType=BIT}
    </if>    
  </select>
  
  <select id="count" resultType="java.lang.Integer">
    SELECT count(id)
    FROM cms_article
    WHERE 
	1=1
    <if test="article.author != null">
    	AND user_id = #{article.author.id,jdbcType=INTEGER}
    </if>
    <if test="article.channel != null and article.channel.id != null">
    	AND channel_id = #{article.channel.id,jdbcType=INTEGER}
    </if>
    <if test="article.category != null and article.category.id != null">
    	AND category_id = #{article.category.id,jdbcType=INTEGER}
    </if>
    <if test="article.status != null">
    	AND status = #{article.status,jdbcType=INTEGER}
    </if>
    <if test="article.deleted != null">
    	AND deleted = #{article.deleted,jdbcType=BIT}
    </if>
    <if test="article.hot != null">
    	AND hot = #{article.hot,jdbcType=BIT}
    </if>
  </select>
  
  <!-- 
  
  <select id="selectByAuthor" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select b.id, b.title, b.cover, b.summary, b.category, b.author, b.author, b.hits, b.comments, b.created, b.updated, c.name as category_name 
    from cms_article as b, blog_category as c 
    where b.category=c.id AND b.author = #{author,jdbcType=INTEGER}
    order by b.created desc
  </select>
  
  <select id="selectByCategory" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_article
    where category = #{category,jdbcType=INTEGER}
    order by created desc, comments desc
  </select>
  
  <select id="selectByLast" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select b.id, b.title, b.cover, b.summary, b.category, b.author, b.author, b.hits, b.comments, b.created, b.updated, u.nickname as author_nickname,c.name as category_name 
    from cms_article as b, blog_user as u, blog_category as c 
    where b.author=u.id and b.category=c.id
    order by b.created desc
    limit 10
  </select>
  
  <select id="selectByHit" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select b.id, b.title, b.cover, b.summary, b.category, b.author, b.author, b.hits, b.comments, b.created, b.updated, u.nickname as author_nickname,c.name as category_name 
    from cms_article as b, blog_user as u, blog_category as c 
    where b.author=u.id and b.category=c.id
    order by b.comments desc
    limit 10
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_article where id = #{id,jdbcType=INTEGER}
  </delete>
 
     <update id="countComments" parameterType="java.lang.Integer">
    update cms_article set comments=(select count(id) from blog_comment where blog=#{id,jdbcType=INTEGER}) where id = #{id,jdbcType=INTEGER}
    </update> -->

  
    <update id="increaseHit" parameterType="java.lang.Integer">
    update cms_article set hits=hits+1 where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>