<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenao.cms.dao.SlideMapper">
  
  <resultMap id="BaseResultMap" type="com.shenao.cms.domain.Slide">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="created" property="created" jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, title, picture, url, created
  </sql>
  
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_slide
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectTop" resultMap="BaseResultMap" resultType="int">
    select 
    <include refid="Base_Column_List" />
    from cms_slide
    order by created desc limit #{size,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_slide
    order by created desc
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from cms_slide where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <insert id="insert" parameterType="com.shenao.cms.domain.Slide">
    insert into cms_slide
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByKey" parameterType="com.shenao.cms.domain.Slide">
    update cms_slide
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>